{% extends 'base.html' %}
{% load static %}

{% block title %}Login{% endblock %}

{% block styling %}
    <link rel="stylesheet" type="text/css" href="{% static "users/login.css" %}">
{% endblock %}

{% block body %}
    <div class="login-page">
        <div class="form">
            <div class="logo">
                <img src="{% static "img/logo.png" %}" alt="logo-bilkent">
            </div>
            <h1>InternHub</h1>
            {% if error_message %}<p>{{ error_message }}</p>{% endif %}
            <form method="post" class="login-form">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Login</button>
            </form>
        </div>
    </div>
{% endblock %}
