/* Colors*/

.container {
    display: flex;
    flex-direction: column;
    min-height: 85vh;
}

.content {
    flex-grow: 1;
}

.content button {
    text-align: left;
}

.container button:hover {
    background: #F47174;
}

.container button:hover span {
    color: black;
}

.container button:hover i {
    color: black;
}

#right-bar {
    background: #F47174;
}

#profile {
    padding-top: 25px; 
    padding-bottom: 10px;
    color: #232323;
}

#profile-info {
    color: #232323;
}

#profile {
    color: #232323;
}

#announcements {
    padding-top: 25px; 
    padding-bottom: 10px;
}