/* Colors*/
:root {
    --color-dark-grey: #272343;
    --color-snowbelt: #ffffff; 
    --color-light-green: #e3f6f5; 
    --color-green: #bae8e8; 
}

/* Constants */
:root {
    --profile-width: 455px;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--color-snowbelt);
    font-family: sans-serif;
}

.main-container {
    display: grid;
    width: 100%;
    height: 100%;
    position: fixed;
    text-align: center;
    grid-template-columns: 360px auto var(--profile-width);
}

.side-menu {
    grid-row: 1;
    grid-column: 1;
    background-color: var(--color-snowbelt);
    padding: 0;
    position: relative;
    width: 100%;
    height: 100%;
}

.side-menu nav {
    background-color: var(--color-snowbelt);
    padding: 20px 0 20px 20px;
    position: relative;
    width: 325px;
    height: 100%;
}

.side-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.side-menu .title-li {
    padding-bottom: 30px;
    padding-top: 20px;
}

.side-menu .title {
    font-family: "Roboto", sans-serif;
    font-size: 55px;
    color: var(--color-dark-grey);
    text-align: left;
    padding: 0 0 0 19px;
    margin: 15px 0 5px 0;
    text-decoration: none;
    font-weight: bold;
}

.side-menu button {
    position: relative;
    font-family: "Roboto", sans-serif;
    text-align: left;
    outline: 0;
    background-color: var(--color-snowbelt);
    width: 100%;
    border: 0;
    padding: 20px 50px 20px 36px;
    color: var(--color-dark-grey);
    font-size: 23px;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    cursor: pointer;
    
    border-radius: 15px;
}

.side-menu button:hover,
.side-menu button:focus,
.side-menu button:active {
    background-color: var(--color-green);
}

.news-section {
    grid-row: 1;
    grid-column: 2;
    background-color: var(--color-snowbelt);
    padding: 0;
    position: relative;
    width: 100%;
    height: 100%;
}

.news-section h2 {
    font-family: "Roboto", sans-serif;
    font-size: 30px;
    color: var(--color-dark-grey);
    text-align: center;
    margin: 15px 0 5px 35px;
    position: relative;
}

.news-section nav {
    background-color: var(--color-snowbelt);
    position: relative;
    width: 100%;
    height: 100%;
}

.profile-section {
    grid-row: 1;
    grid-column: 3;
    background-color: var(--color-snowbelt);
    padding: 0;
    position: relative;
    width: 100%;
    height: 100%;
}

.profile-section h2 {
    font-family: "Roboto", sans-serif;
    font-size: 30px;
    color: var(--color-dark-grey);
    text-align: center;
    margin: 15px 0 5px 35px;
    position: relative;
}

.profile-section ul {
    background-color: var(--color-snowbelt);
    position: relative;
    width: var(--profile-width);
    height: 100%;
    list-style: none;
}

#profile {
    position: relative;
    margin: 10% 40% 0 0;
    font-size: 30px;
    color: var(--color-dark-grey);
    text-align: justify;
}
.profile-section #info {
    position: fixed;
    font-size: 20px;
    margin: 3% 0 0 -8%;
    color: var(--color-dark-grey);
    text-align: center;
}

.profile-section .title-deadline {
    font-family: "Roboto", sans-serif;
    font-size: 30px;
    color: var(--color-dark-grey);
    text-align: center;
    margin: 75px 0 5px 35px;
    position: relative;
}

.profile-section #deadline {
    position: relative;
    font-size: 25px;
    margin: 10% 72% 0 0;
    color: var(--color-dark-grey);
    text-align: center;
}