{% extends 'base.html' %}
{% load static %}
{% load permissions %}

{% block title %}InternHub{% endblock %}

{% block styling %}
    <link rel="stylesheet" type="text/css" href="{% static 'main/home.css' %}">
    <style>
        #countdown li {
            display: inline-block;
            font-size: 1.5em;
            list-style-type: none;
            padding: 1em;
            text-transform: uppercase;
        }

        #countdown li span {
            display: block;
            font-size: 4.5rem;
        }
    </style>
{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row flex-nowrap">
            {% block left-column %}
                <div class="bg-dark col-auto col-md-4 col-lg-3 min-vh-100" id="left-column">
                    <div class="bg-dark p2">
                        <a href="/" class="d-flex text-decoration-none align-items-center mt-4 text-white">
                            <b class="display-4">
                                <span class="display-4 ms-3 d-none d-sm-inline fw-bold">InternHub</span>
                            </b>
                        </a>
                        <hr class="bg-white border-2 border-top border-white">
                        <div class="container">
                            <div class="content">
                                <ul class="nav nav-pills flex-column mt-4">
                                    <li class="nav-item py-2 py-sm-2 rounded">
                                        <button class="nav-link text-white w-100"
                                                id="announcement-button"
                                                style="padding-left: 12px;">
                                            <i class="fs-5 fa-regular fa-bullhorn"></i>
                                            <span class="fs-3 ms-3 d-none d-sm-inline"
                                                  id="sidebar-span">Announcements</span>
                                        </button>
                                    </li>
                                    {% if request.user.role == 'SUPERUSER' %}
                                    <li class="nav-item py-2 py-sm-2 rounded">
                                        <button onclick="navigateToAnotherPage('/admin/')" class="nav-link text-white w-100"
                                                id="announcement-button"
                                                style="padding-left: 12px;">
                                            <i class="fs-5 fa-regular fa-user-plus"></i>
                                            <span class="fs-3 ms-3 d-none d-sm-inline"
                                                  id="sidebar-span">Admin Panel</span>
                                        </button>
                                    </li>
                                    {% endif %}
                                    {% if request.user.role == 'STUDENT' %}
                                        <li class="nav-item py-2 py-sm-2 rounded">
                                            <button class="nav-link text-white w-100"
                                                    id="internship-button"
                                                    style="padding-left: 12px;">
                                                <i class="fs-5 fa-regular fa-briefcase"></i>
                                                <span class="fs-3 ms-3 d-none d-sm-inline"
                                                      id="sidebar-span">Internships</span>
                                            </button>
                                        </li>
                                    {% endif %}
                                    {% if request.user.role == 'INSTRUCTOR' %}
                                        <li class="nav-item py-2 py-sm-2 rounded">
                                            <button onclick="navigateToAnotherPage('/reports/view-internships/')"
                                                    class="nav-link text-white w-100"
                                                    style="padding-left: 12px;">
                                                <i class="fs-5 fa-regular fa-briefcase"></i>
                                                <span class="fs-3 ms-3 d-none d-sm-inline"
                                                      id="sidebar-span">Internships</span>
                                            </button>
                                        </li>
                                    {% endif %}
                                    {% if request.user.role == 'DEPARTMENT_SECRETARY' %}
                                        <li class="nav-item py-2 py-sm-2 rounded">
                                            <button class="btn btn-toggle align-items-center
                                                       rounded collapsed text-white w-100"
                                                    data-bs-toggle="collapse"
                                                    data-bs-target="#internships-collapse"
                                                    aria-expanded="true"
                                                    id="main-button">
                                                <i class="fs-5 fa-regular fa-file"></i>
                                                <span class="fs-3 ms-3 d-none d-sm-inline"
                                                      id="sidebar-span">Internships</span>
                                            </button>
                                            <div class="collapse" id="internships-collapse">
                                                <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small"
                                                    id="dropdown-ul">
                                                    <li>
                                                        <button onclick="navigateToAnotherPage('/reports/view-internships/')"
                                                                id="submissions-button"
                                                                class="btn rounded text-white fs-4 w-100">
                                                            Confidential Forms
                                                        </button>
                                                    </li>
                                                    <li>
                                                        <button onclick="navigateToAnotherPage('/reports/assign-internships/')"
                                                                id="feedbacks-button"
                                                                class="btn rounded text-white fs-4 w-100">
                                                            Internship Assignments
                                                        </button>
                                                    </li>
                                                </ul>
                                            </div>
                                        </li>
                                    {% endif %}
                                    {% if request.user.role == 'STUDENT' or request.user.role == 'INSTRUCTOR' %}
                                        <li class="nav-item py-2 py-sm-2 rounded">
                                            <button class="btn btn-toggle align-items-center
                                                       rounded collapsed text-white w-100"
                                                    data-bs-toggle="collapse"
                                                    data-bs-target="#reports-collapse"
                                                    aria-expanded="true"
                                                    id="main-button">
                                                <i class="fs-5 fa-regular fa-file"></i>
                                                <span class="fs-3 ms-3 d-none d-sm-inline"
                                                      id="sidebar-span">Reports</span>
                                            </button>
                                            <div class="collapse" id="reports-collapse">
                                                <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small"
                                                    id="dropdown-ul">
                                                    <li>
                                                        <button onclick="navigateToAnotherPage('/reports/submissions/')"
                                                                id="submissions-button"
                                                                class="btn rounded text-white fs-4 w-100">
                                                            Submissions
                                                        </button>
                                                    </li>
                                                    <li>
                                                        <button onclick="navigateToAnotherPage('/reports/feedbacks/')"
                                                                id="feedbacks-button"
                                                                class="btn rounded text-white fs-4 w-100">
                                                            Feedbacks
                                                        </button>
                                                    </li>
                                                </ul>
                                            </div>
                                        </li>
                                    {% endif %}
                                    {% if request.user.role == 'CHAIR' %}
                                        <li class="nav-item py-2 py-sm-2 rounded">
                                            <button onclick="navigateToAnotherPage('/reports/statistics/{{ statistics }}')"
                                                    class="nav-link text-white w-100"
                                                    id="announcement-button"
                                                    style="padding-left: 12px;">
                                                <i class="fs-5 fa-regular fa-bullhorn"></i>
                                                <span class="fs-3 ms-3 d-none d-sm-inline"
                                                      id="sidebar-span">Statistics</span>
                                            </button>
                                        </li>
                                    {% endif %}
                                    {% if request.user.role == 'DEAN' %}
                                        <li class="nav-item py-2 py-sm-2 rounded">
                                            <button class="btn btn-toggle align-items-center
                                                       rounded collapsed text-white w-100"
                                                    data-bs-toggle="collapse"
                                                    data-bs-target="#reports-collapse"
                                                    aria-expanded="true"
                                                    id="main-button">
                                                <i class="fs-5 fa-regular fa-chart-pie"></i>
                                                <span class="fs-3 ms-3 d-none d-sm-inline"
                                                      id="sidebar-span">Statistics</span>
                                            </button>
                                            <div class="collapse" id="reports-collapse">
                                                <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small"
                                                    id="dropdown-ul">
                                                    <li>
                                                        <button onclick="navigateToAnotherPage('/reports/statistics/{{ csPk }}')"
                                                                id="cs-button"
                                                                class="btn rounded text-white fs-4 w-100">
                                                            Computer Science
                                                        </button>
                                                    </li>
                                                    <li>
                                                        <button onclick="navigateToAnotherPage('/reports/statistics/{{ eePk }}')"
                                                                id="ee-button"
                                                                class="btn rounded text-white fs-4 w-100">
                                                            Electrics and Electronics Engineering
                                                        </button>
                                                    </li>
                                                    <li>
                                                        <button onclick="navigateToAnotherPage('/reports/statistics/{{ mePk }}')"
                                                                id="me-button"
                                                                class="btn rounded text-white fs-4 w-100">
                                                            Mechanical Engineering
                                                        </button>
                                                    </li>
                                                    <li>
                                                        <button onclick="navigateToAnotherPage('/reports/statistics/{{ iePk }}')"
                                                                id="ie-button"
                                                                class="btn rounded text-white fs-4 w-100">
                                                            Industrial Engineering
                                                        </button>
                                                    </li>
                                                </ul>
                                            </div>
                                        </li>
                                    {% endif %}
                                    {% if request.user.role == 'DEPARTMENT_SECRETARY' or request.user.role == 'STUDENT' or request.user.role == 'SUPERUSER' %}
                                        <li class="nav-item py-2 py-sm-2 rounded">
                                            <button class="btn btn-toggle align-items-center rounded collapsed text-white w-100"
                                                    data-bs-toggle="collapse"
                                                    data-bs-target="#company-collapse"
                                                    aria-expanded="true"
                                                    id="main-button">
                                                <i class="fs-5 fa-regular fa-building"></i>
                                                <span class="fs-3 ms-3 d-none d-sm-inline"
                                                      id="sidebar-span">Company</span>
                                            </button>
                                            <div class="collapse" id="company-collapse">
                                                <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small"
                                                    id="dropdown-ul">
                                                    <li>
                                                        <button onclick="navigateToAnotherPage('/company/companies/')"
                                                                class="btn text-white rounded fs-4 w-100">Company list
                                                        </button>
                                                    </li>
                                                    {% if request.user.role == 'STUDENT' %}
                                                        <li>
                                                            <button onclick="navigateToAnotherPage('/company/request-cava/')"
                                                                    class="btn text-white rounded fs-4 w-100">Company
                                                                Approval Validation Application
                                                            </button>
                                                        </li>
                                                        <li>
                                                            <button onclick="navigateToAnotherPage('/company/request-company/')"
                                                                    class="btn text-white rounded fs-4 w-100">Company
                                                                Request
                                                            </button>
                                                        </li>
                                                    {% endif %}
                                                    {% if request.user.role == 'DEPARTMENT_SECRETARY' %}
                                                        <li>
                                                            <button onclick="navigateToAnotherPage('/company/cava-requests/')"
                                                                    class="btn text-white rounded fs-4 w-100">Company
                                                                Approval Validation Application
                                                            </button>
                                                        </li>
                                                        <li>
                                                            <button onclick="navigateToAnotherPage('/company/company-requests/')"
                                                                    class="btn text-white rounded fs-4 w-100">Company
                                                                Request
                                                            </button>
                                                        </li>
                                                    {% endif %}
                                                </ul>
                                            </div>
                                        </li>
                                    {% endif %}
                                </ul>
                            </div>
                            <ul class="nav nav-pills flex-column mt-4">
                                {% if request.user.role != 'SUPERUSER' %}
                                <li class="nav-item py-2 py-sm-2 rounded">
                                    <button class="nav-link text-white w-100"
                                            id="notification-button">
                                        <i class="fs-5 fa-regular fa-bell"></i>
                                        <span class="fs-4 ms-3 d-none d-sm-inline"
                                              id="sidebar-span">Notifications</span>
                                    </button>
                                </li>
                                <li class="nav-item py-2 py-sm-2 rounded">
                                    <button class="nav-link text-white w-100"
                                            id="contact-button">
                                        <i class="fs-5 fa-regular fa-envelope"></i>
                                        <span class="fs-4 ms-3 d-none d-sm-inline" id="sidebar-span">Contact</span>
                                    </button>
                                </li>
                                {% endif %}
                                <li class="nav-item py-2 py-sm-2 rounded">
                                    <a href="{% url 'users:logout' %}" class="nav-link text-white">
                                        <i class="fs-5 fa-solid fa-right-from-bracket"></i>
                                        <span class="fs-4 ms-3 d-none d-sm-inline" id="side-bar-span">Logout</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            {% endblock %}
            {% block middle-column %}
                <div class="col-auto col-6" id="middle-column">
                    <div id="announcement-div">

                        {% if request.user.role == 'DEPARTMENT_SECRETARY' or request.user.role == 'DEAN' or request.user.role == 'CHAIR' or request.user.role == 'SUPERUSER' %}
                            <div class="row">
                                <div class="col-4">
                                </div>
                                <div class="col-auto">
                                    <div id="company-list-div"
                                         class="d-flex justify-content-between align-items-center">
                                        <h1 class="display-6 text-center fw-semibold" id="titles">Announcements</h1>
                                    </div>
                                </div>
                                <div class="col align-items-center d-flex justify-content-end">
                                    <button class="btn btn-secondary btn-lg mt-2" id="add-company-button"
                                            onclick="navigateToAnotherPage('/announcements/make-announcement/')">
                                        Announce
                                    </button>
                                </div>
                            </div>

                        {% else %}
                            <h1 class="display-6 text-center fw-semibold" id="titles">Announcements</h1>
                        {% endif %}
                        <hr class="my-4 border-2 text-dark">
                        <div class="card border-0">
                            <div class="card-body">
                                <ul class="list-group">
                                    {% for announcement in announcements %}
                                        <li class="list-group-item border-0 border-bottom rounded-0 mb-3">
                                            <div class="d-flex w-100 justify-content-between">
                                                <h5 class="mb-1">{{ announcement.title }}</h5>
                                                <small>{{ announcement.sender }}</small>
                                            </div>
                                            <p class="mb-1">{{ announcement.content }}</p>
                                            <small class="text-muted d-block text-end">{{ announcement.date }}</small>
                                        </li>
                                    {% endfor %}
                                </ul>


                            </div>
                        </div>
                    </div>
                    <div id="internship-div">
                        <h1 class="display-6 text-center fw-semibold" id="titles">Internships</h1>
                        <hr class="my-4 border-2 text-dark">
                        <ul class="list-group">
                            {% for internship in internships %}
                                <li class="list-group-item border-0 border-bottom rounded-0 mb-3">
                                    <div class="d-flex w-100 justify-content-between">
                                        <h5 class="mb-1">{{ internship.student.department.code }}{{ internship.course }}
                                            \ {{ internship.get_status_display }}</h5>
                                    </div>
                                    <p class="mb-1">{{ internship.company }}</p>
                                    <small class="text-muted d-block text-end">{{ internship.instructor }}</small>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div id="notification-div">
                        <h1 class="display-6 text-center fw-semibold" id="titles">Notifications</h1>
                        <hr class="my-4 border-2 text-dark">
                        <div class="card border-0">
                            <div class="card-body overflow-auto" style="max-height: 85vh;">
                                <ul class="list-group">
                                    {% for notification in notifications %}
                                        <li class="list-group-item border-0 border-bottom rounded-0 mb-3">
                                            <div class="d-flex w-100 justify-content-between">
                                                <h5 class="mb-1">{{ notification.title|title }}</h5>
                                            </div>
                                            <p class="mb-1">{{ notification.content }}</p>
                                            <small class="text-muted d-block text-end">{{ notification.timestamp }}</small>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div id="contact-div" hidden>
                        {% csrf_token %}
                        <h1 class="display-6 text-center fw-semibold" id="titles">Contact</h1>
                        <hr class="my-4 border-2 text-dark">
                        {% for contacts in contacts_set %}
                            {% for contact in contacts %}
                                {% if contact %}
                                    {% if request.user.role != contact.role %}
                                        <li class="list-group-item border-0 border-bottom rounded-0 mb-3">
                                            <div class="d-flex w-100 justify-content-between">
                                                <h5 class="mb-1">{{ contact.first_name }} {{ contact.last_name }}</h5>
                                                {% if contact.role == 'DEPARTMENT_SECRETARY' %}
                                                    <small>Department Secretary</small>
                                                {% else %}
                                                    <small>{{ contact.role|title }}</small>
                                                {% endif %}
                                            </div>
                                            <div class="d-flex w-100 justify-content-between mb-2">
                                                <a href="mailto: {{ contact.email }}" id="contacts-mail"
                                                   class="text-muted">{{ contact.email }}</a>
                                                <small class="d-block text-end">{{ contact.department }}</small>
                                            </div>
                                        </li>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        {% endfor %}
                    </div>
                </div>
            {% endblock %}
            {% block right-column %}
                <div class="col text-white" id="side-bar-right">
                <h1 class="display-6 fw-semibold text-center" id="titles">Profile</h1>
                <hr class="my-4 border-2 text-black">
                <div class="container" id="profile-info">
                    <div class="row">
                        {% if request.user.role == 'SUPERUSER'%}
                            <span class="fs-3 text-black fw-semibold align-left text-center"> ADMIN </span>
                        {% endif %}
                        {% if check %}
                            <span class="fs-3 text-black fw-semibold align-left"> {{ full_name }} </span>
                            <span class="fs-4 text-black fw-semibold align-left"> {{ user.user_id }}</span>
                            <span class="fs-4 text-black fw-semibold align-left"> {{ user.department }}</span>
                        {% endif %}
                    </div>
                    <hr class="my-4 border-2 text-black">
                    {% if due_date %}
                        <div class="row" id="row-countdown">
                            <div class="container">
                                <h1 id="headline" class="text-center">Report Upload Deadline</h1>
                                <div id="countdown">
                                    <ul>
                                        <li><span id="days"></span>days</li>
                                        <li><span id="hours"></span>Hours</li>
                                        <li><span id="minutes"></span>Minutes</li>
                                        <li><span id="seconds"></span>Seconds</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                </div>
            {% endblock %}
            </div>
        </div>
    </div>
    <script src="{% static 'main/home.js' %}"></script>

    <script>
        (function () {
            const second = 1000,
                minute = second * 60,
                hour = minute * 60,
                day = hour * 24;

            const countDown = new Date("{{ due_date|date:'n/d/Y' }}").getTime(),
                x = setInterval(function () {

                    const now = new Date().getTime(),
                        distance = countDown - now;

                    document.getElementById("days").innerText = Math.floor(distance / (day)),
                        document.getElementById("hours").innerText = Math.floor((distance % (day)) / (hour)),
                        document.getElementById("minutes").innerText = Math.floor((distance % (hour)) / (minute)),
                        document.getElementById("seconds").innerText = Math.floor((distance % (minute)) / second);
                }, 0)
        }());
    </script>
{% endblock %}