:root {
    --deep-azure: #415A80;
    --snowbelt: #F2F4F8;
    --blue-birds: #0096D1;
    --azure-sky: #A9E2F5;

    --black-pearl: #1E1E2C;
    --black-blueberry: #2D2D44;
    --turquoise: #33E1ED;;
}

body {
    margin: 0;
    padding: 0;
    background: var(--snowbelt);
    font-family: sans-serif;
}

.bar { 
    background-color: var(--black-pearl);
    overflow: hidden;
    position: relative;
    top: 0;
    height: 65px;
    width: 100%;
}

.bar h1 {
    font-family: "Roboto", sans-serif;
    font-size: 30px;
    color: var(--snowbelt);
    text-align: left;
    margin: 15px 0 5px 35px;
    position: relative;
}

.menu {
    display:grid;
    width: 100%;
    height: 90%;
    position: fixed;
    text-align: center;
    grid-auto-columns: 3;
    grid-template-columns: 325px auto 325px;
}

.menu .left {
    grid-row: 1;
    grid-column: 1;
}

.menu .left .left-nav { 
    background-color: var(--black-blueberry);
    right: 0;
    padding: 10px 0 20px 0;
    position: relative;
    width: 325px;
    height: 100%;
}
.menu .left-ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu .left-ul button {
    position: relative;
    font-family: "Roboto", sans-serif;
    text-align: left;
    outline: 0;
    background: var(--black-blueberry);
    width: 100%;
    border: 0;
    padding: 20px 50px 20px 36px;
    color: var(--snowbelt);
    font-size: 20px;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    cursor: pointer;

}

.menu .left-ul button:hover,
.menu .left-ul button:focus,
.menu .left-ul button:active {
    background-color: var(--deep-azure);
}

.menu .middle {
    grid-row: 1;
    grid-column: 2;
    background-color: var(--azure-sky);
    right: 0;
    padding: 0 0 0 0;
    position: relative;
    width: 100%;
    height: 100%;
}

.menu .right{
    grid-row: 1;
    grid-column: 3;
}

.menu .right-nav {
    background-color: var(--black-blueberry);
    position: relative;
    width: 325px;
    height: 100%;
}