:root {
    --deep-azure: #415A80;
    --midwinter-mist: #A5D4DC;
    --snowbelt: #F2F4F8;
    --early-frost: #D7E2E9;
}

body {
    margin: 0;
    padding: 0;
    background: var(--snowbelt);
    font-family: sans-serif;
}

.menu nav {
    background-color: var(--midwinter-mist);
    right: 0;
    left: 8px;
    top: 8px;
    bottom: 8px;
    padding: 20px;
    position: fixed;
    width: 325px;
    z-index: 2;
    border-radius: 10px;
}

.menu ul {
    list-style: none;
    margin: 0;
    padding: 5px;
}

.menu button {
    position: relative;
    margin-bottom: 1px;
    font-family: "Roboto", sans-serif;
    text-align: left;
    outline: 0;
    background: var(--midwinter-mist);
    width: 100%;
    border: 0;
    padding: 20px;
    color: var(--deep-azure);
    font-size: 20px;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    cursor: pointer;
    border-radius: 10px;
}

.menu button:hover,
.menu button:focus,
.menu button:active {
    background-color: var(--early-frost);
}
