{% extends 'base.html' %}
{% load static %}

{% block title %}Companies{% endblock %}

{% block styling %}
    <link rel="stylesheet" type="text/css" href="{% static 'main/home.css' %}">
{% endblock %}

{% block body %}
    <div>
        <ul>
            {% for company in companies %}
                <li>
                    {{ company.name }}
                    {{ company.field }}
                    {% for department in company.departments.all %}
                        {{ department.name }}
                    {% endfor %}
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
